@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.comparison-sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  /* Nasconde il pannello (largo 450px) */
  width: 350px;
  height: 100vh;
  background: #202428;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}

/* Classe che attiviamo quando c'è almeno un prodotto */
.comparison-sidebar.open {
  right: 0;
  /* Lo porta a vista */
}


/* Sidebar Preferiti (Sinistra) */
.favorites-sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  /* Nascosta a sinistra */
  width: 350px;
  height: 100vh;
  background: #1a1d20;
  /* Leggermente più scuro per distinguerlo */
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  transition: left 0.4s ease-in-out;
  z-index: 1050;
  /* Sopra tutto */
  padding: 20px;
  overflow-y: auto;
}

.favorites-sidebar.open {
  left: 0;
  /* Entra da sinistra */
}



/* ProductList.css */
.badge-bg-info-opacity-violet {
  background-color: rgba(124, 16, 177, 0.5) !important; /* bg-info con opacità */
}

.badge-bg-info-opacity-blue {
  background-color: rgba(37, 16, 177, 0.5) !important; /* bg-info con opacità */
}